<table class="table table-hover mb-3">
    <tr>
        <td width="70px">
            <a href="{{ url_for('main.user', username=post.author.username) }}">
                {% if post.author.avatar_filename %}
                    <img src="{{ url_for('static', filename='avatars/' + post.author.avatar_filename) }}" width="70" height="70" class="rounded-circle" />
                {% else %}
                    <img src="{{ post.author.avatar(70) }}" class="rounded-circle" />
                {% endif %}
            </a>
        </td>
        <td>
            {% set user_link %}
                <a class="user_popup" href="{{ url_for('main.user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
            {% endset %}
            {{ _('%(username)s said <small>%(when)s',
                username=user_link, when=moment(post.timestamp).fromNow()) }}
            <br>
            {{ post.body }}
            
            <div class="like-unlike-buttons" style="display: flex; gap: 10px;">
                <form action="{{ url_for('main.like_post', post_id=post.id) }}" method="POST">
                    <button type="submit" 
                            style="color: {% if current_user.has_liked(post) %}blue{% else %}black{% endif %}; 
                                   background-color: transparent; 
                                   border: 1px solid {% if current_user.has_liked(post) %}blue{% else %}black{% endif %}; 
                                   padding: 5px 10px; 
                                   cursor: pointer; 
                                   border-radius: 5px;
                                   transition: color 0.3s, border-color 0.3s;">
                        <i class="fas fa-thumbs-up"></i> 
                        {% if current_user.has_liked(post) %}Liked{% else %}Like{% endif %}
                    </button>
                </form>
            </div>
            
            <p style="font-weight: bold; margin: 5px 0; color: #333;">Likes: {{ post.likes|length }}</p>
            
            <div class="post">
                {% if post.author == current_user %}
                <form action="{{ url_for('main.delete_post', post_id=post.id) }}" method="post" class="delete-form">
                    {{ delete_form.hidden_tag() }}
                    <input type="hidden" name="page" value="{{ request.args.get('page', 1) }}">
                    <button type="submit" class="btn btn-link p-0 m-0 align-baseline delete-button">
                        <i class="fas fa-trash-alt"></i>
                    </button>            
                </form>
                {% endif %}
            </div>
            <hr>
        </td>
    </tr>    
</table>
